body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-image: url(../img/backgrounds/lukas-blazek-f-TWhXOrLiU-unsplash.jpg);
}

.comentarios{
    text-align: center;
    justify-content: center;
    padding: 20px;
    background-color: #cccccc5a;
    margin: 20px;
    margin: 20px;
}
header,

header {
    justify-content: center;
    text-align: center;


}
h1 {
    color: black;
 
}
header h1 span {
    transition: 0.5 linear;
}
h1:hover span:nth-child(1){
    margin-right: 5px;
}
h1:hover span:nth-child(1)::after{
    content: "-listo";
}
h1:hover span:nth-child(2)::after{
    content: " la ac";
}
h1:hover span:nth-child(1){
    color: #fff;
    text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff
}


footer {
    text-align: center;
    background-color: #f2f2f255;
    padding: 20px;
}

aside {

    text-align: center;
    justify-items: center;
    background-color: #f7f2ec6f;
    padding: 20px;
}

nav {
    display: flex;
    /* Utiliza flexbox para alinear los elementos en horizontal */
    justify-content: center;
    /* Centra los elementos horizontalmente */
}

nav ul {
    list-style: none;
    margin: 0;
    /* Asegúrate de quitar el margen predeterminado de la lista */
    display: flex;
    /* Utiliza flexbox para alinear los elementos en horizontal */
}

nav ul li {
    margin-right: 40px;
    /* Añade un margen entre los elementos */
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.recetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.receta {
    width: calc(33.33% - 20px);
    /* Para que haya espacio entre las recetas */
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.receta img {
    width: 100%;
    height: auto;
}

.descripcion {
    padding: 20px;
}

main {
    margin: 10px;
    opacity: 1;
}
.instrucciones {
    width: calc(62% - 20px);
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}
.detalle{
    padding: 10px;
}
.recetavideo{
    width: calc(38% - 20px);
    /* Para que haya espacio entre las recetas */
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;  
}
.instrucciones h2 {
    margin-left: 10px; 
}

table.ingredientes {
    width: 70%; /* Cambia el ancho según lo necesites */
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-left: 10px;

}

table.ingredientes th,
table.ingredientes td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

table.ingredientes th {
    background-color: #f2f2f2;
}
